:root{
    --width-phone : 480px;
    --width-desktop : 786px
}


.hidden{
    display: none;
}


.center{
    display: flex;
    justify-content: center;
}

.form-display{
    background-color: red;
    width: 10px;
}

