/* * {
    margin: 0;
    padding: 0;
}

main{
}
article{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1rem;
} */

.hidden{
    display: none;
}


.img-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .img-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:769px){
    .img-grid {
        grid-template-columns: repeat(2, 1fr);
    }    
}