.calendar {
  font-size: 1rem;
  background-color: var(--bs-body-bg);
  border: 1px solid #cb954222;
  border-radius: 8px;
}

button {
  height: 50px;
}

button:disabled {
  /*   background-color: #e0e0e0; */
  color: gray;
  opacity: 0.5;
  /*   pointer-events: none; */
}

.selected {
  background-color: yellow;
  color: pop;
}
