---
import Hamburger from "./Hamburger.astro";
import NavList from "./Sidebar.astro";
import styles from "./Navigation.module.css";
---

<nav class={styles.navigation}>
    <Hamburger />
    <NavList />
</nav>
