---
// import "../styles/global.css";
import PageLayout from "../layout/PageLayout.astro";
import Form from "../components/Forms/Form.astro";

const pageTitle = "Bli medlem";

const formInputs = [
  { type: "text", name: "Förnamn" },
  { type: "text", name: "Efternamn" },
  { type: "email", name: "Email" },
  { type: "file", name: "Ansökningsblanket" },
];
---

<PageLayout pageTitle={pageTitle}>
  <article>
    <section class="px-smallScreen xl:px-largeScreen 2xl:px-extraLargeScreen">
      <p class="pb-10">För att bli medlem laddar du ner blanketten nedanför och skickar med hjälp av formuläret.</p>
      <p>
        <a class="flex items-end gap-4 pb-16 link text-primary" href="/doc/Anmalan-om-medlemsskap-i-JFF-Nassjo.pdf" download> <img class="size-8" src="/icons/download.svg" alt="download icon" />Ladda ner Medlemansökan</a>
      </p>
    </section>
    <Form name="Medlemnsansökan" formInputs={formInputs} />
  </article>
</PageLayout>
