---
// import "../styles/global.css";
import PageLayout from "../layout/PageLayout.astro";
import Form from "../components/Forms/Form.astro";

const pageTitle = "Bli medlem";

const formInputs = [
    { type: "text", name: "Förnamn" },
    { type: "text", name: "Efternamn" },
    { type: "email", name: "Email" },
    { type: "file", name: "Ansökningsblanket" },
];
---

<PageLayout pageTitle={pageTitle}>
    <p class="text-green">För att bli medlem laddar du ner blanketten nedanför och skickar med hjälp av formulert.</p>
    <p>
        <a
            class="link text-primary"
            href="/doc/Anmalan-om-medlemsskap-i-JFF-Nassjo.pdf"
            download
            >Ladda ner Medlemansökan</a
        >
    </p>
    <Form name="Medlemnsansökan" formInputs={formInputs}/>
</PageLayout>
