---
import PageLayout from "../layout/PageLayout.astro";
import ContactForm from "../components/Forms/ContactForm.astro";

const pageTitle = "Kontakt";
---

<PageLayout pageTitle={pageTitle}>
	<p>Skicka ett medelande med dina uppgifter till JFF:s styrelsen nedan. </p>
	<ContactForm />
</PageLayout>
