---
import "../styles/global.css";
import PageLayout from "../layout/PageLayout.astro";
import ContactForm from "../components/ContactForm.astro";

const pageTitle = "Kontakt";
---

<PageLayout pageTitle={pageTitle}>
	<p>Skicka ett medelande till JFF:s styrelsen nedan. Vi försöker att svara så snart vi kan.</p>
	<ContactForm />
</PageLayout>
