---
import PageLayout from "../layout/PageLayout.astro";
import json from "../data.json";
---

<PageLayout pageTitle={json.styrelsen.title}>
  <div class="gradient bg-gradient-to-bl from-gradient-start to-gradient-end w-screen">
    <div class="flex justify-center w-screen py-16">
      <table class="table w-full max-w-md">
        <thead>
          <tr>
            <th class="text-lg">Ansvarsomr책de</th>
            <th class="text-lg">Namn</th>
          </tr>
        </thead>
        <tbody>
          {
            json.styrelsen.members.map((medlem) => (
              <tr class="hover last:border-b last:border-white">
                <td>{medlem.title}</td>
                <td>{medlem.name}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <div class="px-smallScreen lg:px-largeScreen pb-8 italic">
      Om du ocks책 채r intresserad av att g책 med i styrelsen,
      <a href="https://jffnassjo.se/kontakt/" class="text-pop font-bold underline">&nbsp;kontakta oss</a>
    </div>
  </div>
</PageLayout>
