---
import "../styles/global.css";
import "bootstrap/dist/css/bootstrap.css";
import bootstrap from "bootstrap";
import PageLayout from "../layout/PageLayout.astro";
import json from "../data.json";
---

<PageLayout pageTitle={json.styrelsen.title}>
  <div class="container">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Ansvarsområde</th>
          <th scope="col">Namn</th>
        </tr>
      </thead>
      <tbody>
        {
          json.styrelsen.members.map((medlem) => (
            <tr>
              <td>{medlem.title}</td>
              <td>{medlem.name}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</PageLayout>
