---
import "../styles/global.css";
import PageLayout from "../layout/PageLayout.astro";

const pageTitle = "Medelande skickat";
---

<PageLayout pageTitle={pageTitle}>
  <p>Tack för medelande! Vi svara så snart vi kan!</p>
  <a class="btn btn-primary read-more-btn" href="/">Tillbaka</a>
</PageLayout>
