---
import NavLink from "./Navigation/NavLink.astro";

const currentPage = Astro.url.pathname;
console.log(currentPage);

const linkList = [
  { url: "/", text: "Hem", isActive: currentPage === "/" },
  { url: "/bli-medlem/", text: "Bli Medlem", isActive: currentPage === "/bli-medlem/" },
  { url: "/bokning/", text: "Bokning", isActive: currentPage === "/bokning/" },
  { url: "/kontakt/", text: "Kontakt", isActive: currentPage === "/kontakt/" },
  { url: "/pallarp/", text: "Pallarp", isActive: currentPage === "/pallarp/" },
  { url: "/styrelsen/", text: "Styrelsen", isActive: currentPage === "/styrelsen/" },
];
---

<footer class="grid grid-cols-1 ">
  <nav class="flex justify-around items-center footer-background">
    <ul class="hidden lg:grid grid-cols-2 w-fit h-fit">
      {
        linkList.map((link) => (
          <li class="">
            <a
              href={link.url}
              class={link.isActive && "text-primary"}>
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="py-8">
      <img
        src="/icons/JFFLogo1.svg"
        alt="JFF logo"
        class="h-40 min-w-40"
      />
    </div>
  </nav>
  <h2 class="text-center p-2">Järnvägarnas Fritidsförening Nässjö</h2>
</footer>
