---
import Navigation from "./Navigation/Navigation.astro";
---

<header class="navbar lg:bg-neutral lg:sticky lg:top-0 lg:z-10">
    <div class="flex-1">
        <a class="btn btn-ghost">Järnvägarnas Fritidsförening Nässjö</a>
    </div>
    <Navigation />
</header>
