---
import Navigation from "./Navigation/Navigation.astro";
---

<header class="block navbar z-10 lg:bg-base-100 lg:top-0 lg:px-0 lg:flex lg:justify-center lg:items-center xl:px-largeScreen xl:justify-between">
  <div class="flex-1 text-l justify-center xl:justify-start">
    <a href="/">
      <img
        src="/icons/JFFLogo1.svg"
        alt="JFF logo"
        class="h-24 min-w-24"
      />
    </a>
  </div>
  <div class="flex-3">
    <Navigation />
  </div>
</header>
