---
import Navigation from "./Navigation/Navigation.astro";
---

<header class="navbar lg:bg-base-100 lg:top-0 lg:z-10 pb-16 px-0">
  <div class="flex-1 text-l">
    <a href="/">
      <img src="/icons/JFFLogo1.svg" alt="JFF logo" class="h-14" />
    </a>
    <a href="/">Järnvägarnas Fritidsförening Nässjö </a>
  </div>
  <div class="flex-3">
    <Navigation />
  </div>
</header>
