---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { settings } from "../store/theme";
import { ViewTransitions, fade } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<html id="root" lang="en" data-theme={settings.get().theme} transition:animate={fade({ duration: "0.4s" })}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body class="font-sans w-full h-full">
    <main>
      <Header />
      <h2 class="font-serif text-h2 pt-16 pb-8 px-smallScreen xl:px-largeScreen 2xl:px-extraLargeScreen">{pageTitle}</h2>
        <slot />
    </main>
    <hr />
    <Footer />
  </body>
</html>
