---
import "../styles/global.css";

import "bootstrap/dist/css/bootstrap.css";
import bootstrap from "bootstrap";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
---

<style>
    .main-content {
        padding: 2rem 0rem;
    }
    article{
        padding: 2rem 0rem;
    }
</style>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body class="container">
        <Header />
        <hr />
        <main class="main-content">
            <h2>{pageTitle}</h2>
            <article>
                <slot />
            </article>
        </main>
        <hr />
        <Footer />
    </body>
</html>
