---
import BookingCalendar from "../Calendar/BookingCalendar";

const {maxDaysPerBooking = 3, pricePerDay = 500} = Astro.props;
---
  <p>Bokning av JFF:s fritidsstuga Pallarp.</p>
  <p>Skicka en bokningsförfrågan i formuläret nednanför.</p>
  <p>Kostnaden för att hyra Pallarp är {pricePerDay}:- per dag.</p>
  <p>Max {maxDaysPerBooking} dagar per bokning.</p>
  <p>Vi kommer att kontakta er och gällande bokningen.</p>
  <BookingCalendar maxDaysPerBooking =  {maxDaysPerBooking}, pricePerDay = {pricePerDay}  client:load/>