---
import BookingCalendar from "../Calendar/BookingCalendar";
import FormInput from "../Calendar/FormInput";

const { maxDaysPerBooking = 3, pricePerDay = 500 } = Astro.props;
---

<p>Bokning av JFF:s fritidsstuga Pallarp.</p>
<p>Skicka en bokningsförfrågan i formuläret nednanför.</p>
<p>Kostnaden för att hyra Pallarp är {pricePerDay}:- per dag.</p>
<p>Max {maxDaysPerBooking} dagar per bokning.</p>
<p>Vi kommer att kontakta er och gällande bokningen.</p>

<h4>Hyresformulär</h4>
<form
  name="Bokning"
  action="/submit-success"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  data-netlify-recaptcha="true"
>
  <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </p>

  <div class="row">
    <FormInput type="text" name="Förnamn" />
    <FormInput type="text" name="Efternamn" />
  </div>
  <div class="row">
    <FormInput type="email" name="Epost" />
    <FormInput type="tel" name="Telefon" />
  </div>

  <BookingCalendar
    maxDaysPerBooking={maxDaysPerBooking}
    ,
    pricePerDay={pricePerDay}
    client:load
  />

  <div class="row">
    <FormInput type="text" name="Syfte med bokning" />
  </div>

  <div data-netlify-recaptcha="true"></div>
  <button type="submit" class="btn btn-primary">Skicka</button>
</form>
