---
import FormInput from "../Calendar/FormInput";

const { name, formInputs } = Astro.props;
---

<form
  class="flex justify-center"
  name={name}
  action="/submit-success"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  data-netlify-recaptcha="true">
  <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {formInputs?.map((fi) => <FormInput type={fi.type} name={fi.name} client:load />)}
    <div data-netlify-recaptcha="true"></div>
    <button type="submit" class="btn btn-primary max-w-80">Skicka</button>
  </div>
</form>

<style>
  form {
    padding: 2rem 0rem 0rem 0rem;
  }
</style>
